<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- set character encoding for the document -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Telegram clone</title>


</head>

<body>
  <div id="root"></div>
</body>

</html>